---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import AboutMe from "../components/AboutMe.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import ContactMe from "../components/ContactMe.astro";
---

<Layout
	title="Portfolio de Daniel Agudelo - Desarrollador y Programador Web"
	description="Desarrollador web full stack enfocado en el frontend con React, Nextjs, Astro, JavaScript, TypeScript, Nodejs, PostgreSQL"
>
	<main class="mx-2 md:mx-16 my-40 container-scroll">
		<Home />
		
		<Education  />
		
		<Projects  />
		
		<Skills  />
		
		<AboutMe />
		
		<ContactMe />
		
	</main>
</Layout>

<style>

</style>
