---
import SocialLinks from "./SocialLinks.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section
    class={`${Astro.props.class} flex flex-col xl:flex-row h-full mt-32  md:mt-0 mx-auto`}
    id="about"
    data-section="about"
>
    <div class="xl:w-1/2 flex justify-center">
        <div class="flex justify-center items-center">
            <img
                loading="lazy"
                class="rounded-lg shadow-[2px_2px_5px_2px_rgba(0,0,0,0.3)]"
                width="500"
                src="/assest/daniel.webp"
                alt="Daniel's photo"
            />
        </div>
    </div>

    <div class="xl:w-1/2 flex-col mt-10 xl:mt-0">
        <p class="text-xl">{t("about.hi")}</p>
        <h2 class="text-5xl md:text-7xl font-semibold">Daniel Agudelo</h2>
        <div
            class="mt-12 md:mr-20 text-pretty [&>p>strong]:text-[#8B4513] [&>p>strong]:dark:text-[#FFE0C8] [&>p>strong]:font-semibold"
        >
            <p class="leading-9" set:html={t("about.text1")} />
            <br />
            <p class="leading-9" set:html={t("about.text2")} />
                
            
            <br />
            <p class="leading-9" set:html={t("about.text3")} />
            <br />
            <p class="px-4 flex flex-col items-end">
                <cite
                    ><q>{t("about.quote")}</q
                    ></cite
                > - {t("about.quoteAuthor")}
            </p>
        </div>
        <div class="flex justify-center md:justify-start mt-12">
            <SocialLinks href="/assest/English_CV_Daniel_Agudelo.pdf">
                <LinkIcon class="size-7" /> {t(`home.cv`)}
            </SocialLinks>
        </div>
    </div>
</section>
