---
const INFO = [
    {
        tipo: "Email",
        contacto: "daniel.agudelo185@gmail.com",
    },
    {
        tipo: "Teléfono",
        contacto: "+57 3206724252",
    },
];
---

<section class="flex flex-col items-center">
    <div>
        <p>Conectémonos</p>
        <h2 class="text-3xl lg:text-6xl font-semibold mb-6 ">Hagamos magia juntos</h2>
    </div>
    <div class="flex flex-col lg:flex-row gap-x-20 ">
        <div class="border md:border-none  flex flex-col gap-y-6">
            {
                INFO.map((informacion) => (
                    <div class=" hidden border h-36 w-72 md:flex flex-col gap-y-3 items-start ">
                        <h3 class="mt-2">{informacion.tipo}</h3>
                        <p class="mt-4">{informacion.contacto}</p>
                    </div>
                    <div class="md:hidden">
                    <h3>{informacion.contacto}</h3>    
                    </div>
                ))
            }
        </div>

        <div class="flex flex-col justify-center">
            <form
                action="https://formsubmit.co/daniel.agudelo185@gmail.com"
                method="POST"
                class="grid grid-cols-4 gap-x-4"
            >
                <input type="hidden" name="_captcha" value="false" />
                <input
                    type="hidden"
                    name="_subject"
                    value="Correo enviado desde el portfolio"
                />
                <input
                    type="hidden"
                    name="_next"
                    value="https://yourdomain.co/thanks.html"
                />
                <div class="col-span-2">
                    <div class="flex flex-col mb-6">
                        <label class="mb-2" for="nombre">Nombre completo</label>
                        <input type="text" name="nombre" id="nombre" />
                    </div>
                </div>
                <div class="col-span-2 ">
                    <div class="flex flex-col">
                        <label class="mb-2" for="email"
                            >correo electrónico</label
                        >
                        <input type="email" name="email" id="email" />
                    </div>
                </div>
                <div class="col-span-4">
                    <div class="flex flex-col">
                        <label class="mb-2" for="mensaje">Mensaje</label>
                        <textarea
                            class="resize-none"
                            name="mensaje"
                            id="mensaje"
                            cols='50"'
                            rows="5"></textarea>
                    </div>
                </div>
                <button class="col-end-5 col-span-1 mt-8" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>
