---
import EducationItem from "./EducationItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const EDUCACION = [
    {
        date: t(`education.itemDate1`),
        title: t(`education.itemTitle1`),
        universidad: "Soy Henry Bootcamp",
    },
    {
        date: t("education.itemDate2"),
        title: t("education.itemTitle2"),
        universidad: "Universidad del Norte - Colombia",
    },
    {
        date: t("education.itemDate3"),
        title: t("education.itemTitle3"),
        universidad: "Sena - Colombia",
    },
];
---

<section class={`${Astro.props.class} flex flex-col lg:flex-row mt-2 md:mt-20`} id="education" data-section="education">
    <div class="flex flex-col lg:items-end lg:w-1/2 lg:pr-32 mt-10">
        <p class="">{t(`education.certificate`)}</p>
        <h2 class="text-3xl lg:text-6xl font-semibold tracking-wide">{t(`education.title`)}</h2>
        <div class="2xl:ml-80 mt-5 lg:mt-10">
            <p class=" lg:text-end leading-7 text-pretty">
                {t(`education.subtitle`)}
            </p>
        </div>
    </div>
    <div class="lg:w-1/2 mt-10">
        <ol class="relative border-l border-[#FFD299] dark:border-[#FFE0C8] ml-3">
            {
                EDUCACION.map((education) => (
                    <li class="mb-12 ms-4 lg:ms-14">
                        <EducationItem {...education} />
                    </li>
                ))
            }
        </ol>
    </div>
</section>
