---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCIA = [
    {
        date: "Septiembre 2023 - Enero 2024",
        title: "Desarrollador Analista Junior",
        empresa: "Talento Cloud",
        descripcion: "Colaboré en proyectos clave para internacionalizar la plataforma y mejorar informes, enfocándome en optimizar la accesibilidad global y brindar herramientas eficientes para el análisis de datos."
    },
    {
        date: "Agosto 2023 - Octubre 2023",
        title: "Teaching Assitant",
        empresa: "Soy Henry Bootcamp",
        descripcion: "Facilité un entorno de aprendizaje dinámico y colaborativo para alumnos de Soy Henry, co-coordinando un espacio diario y guiándolos en la exploración y comprensión de tecnologías clave como React, Express, Node.js, Sequelize y PostgreSQL."
    },

];
---

<section class={`${Astro.props.class} flex flex-col lg:flex-row mt-20`} id="education" data-section="education">
    <div class="flex flex-col lg:items-end lg:w-1/2 lg:pr-32 mt-10">
        <p class="">Laboral</p>
        <h2 class="text-3xl lg:text-6xl font-semibold tracking-wide">Experiencia</h2>
        <div class="2xl:ml-80 mt-5 lg:mt-10">
            <p class=" lg:text-end leading-7 ">
                Experiencia en desarrollo de páginas web usando HTML5, CSS3,
                JavaScript, ReactJs, NextJs, Astro, JSON, Node.js, TailwindCSS
            </p>
        </div>
    </div>
    <div class="lg:w-1/2 mt-10">
        <ol class="relative border-l border-[#FFD299] dark:border-[#FFE0C8] ml-3">
            {
                EXPERIENCIA.map((experiencia) => (
                    <li class="mb-12 ms-4 lg:ms-14">
                        <ExperienceItem {...experiencia} />
                    </li>
                ))
            }
        </ol>
    </div>
</section>
