---
import ExperienceItem from './ExperienceItem.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const EXPERIENCIA = [
    {
        date: t(`experience.date1`),
        title: t("experience.title1"),
        empresa: t("experience.company1"),
        descripcion: t("experience.description1")
    },
    {
        date: t(`experience.date2`),
        title: t("experience.title2"),
        empresa: t("experience.company2"),
        descripcion: t("experience.description2")
    },
    {
        date: t(`experience.date3`),
        title: "Teaching Assitant",
        empresa: "Soy Henry Bootcamp",
        descripcion: t("experience.description3")
        
    },

];
---

<section class={`${Astro.props.class} flex flex-col lg:flex-row mt-2 md:mt-20`} id="education" data-section="education">
    <div class="flex flex-col lg:items-end lg:w-1/2 lg:pr-32 mt-10">
        <p class="">{t(`experience.work`)}</p>
        <h2 class="text-3xl lg:text-6xl font-semibold tracking-wide">{t(`nav.experience`)}</h2>
        <div class="2xl:ml-80 mt-5 lg:mt-10">
            <p class=" lg:text-end leading-7 ">
                {t(`experience.subtitle`)}
            </p>
        </div>
    </div>
    <div class="lg:w-1/2 mt-10">
        <ol class="relative border-l border-[#FFD299] dark:border-[#FFE0C8] ml-3">
            {
                EXPERIENCIA.map((experiencia) => (
                    <li class="mb-12 ms-4 lg:ms-14">
                        <ExperienceItem {...experiencia} />
                    </li>
                ))
            }
        </ol>
    </div>
</section>
