---
interface Props {
    title: string;
    date: string;
    empresa: string;
    descripcion: string;
}

const { title, date, empresa,descripcion } = Astro.props;
---

<div
    class="absolute w-3 h-3 rounded-full mt-12 -start-1.5 border border-gray-900 bg-[#8B4513] dark:bg-[#FF3D3D] "
>
</div>
<h3 class="text-2xl mb-2 font-semibold">{title}</h3>
<p class=" mt-1 text-lg ">{empresa}</p>
<time
    datetime=""
    class="text-sm text-black/50 dark:text-white/50"
    >{date}</time
>
<p class="mt-3 xl:max-w-[500px] text-black/75 dark:text-white/75 text-pretty mb-2">{descripcion}</p>
