---
import ArrowUp from "./icons/ArrowUp.astro"
const currentYear = new Date().getFullYear()
---
<footer class="flex flex-row justify-evenly items-center my-8 w-full lg:w-[500px] bg-blue-500 rounded-xl mx-auto">
        <h2>© {currentYear} <a href="https://www.linkedin.com/in/dan-agud/" target="_blank" class="hover:underline">DaniDev</a> </h2>
        <a class="flex flex-row gap-1 hover:underline px-2" href="#">
            <ArrowUp />
            <p>Inicio</p>
        </a>
</footer>