---

---

<header class="w-full  h-20 flex items-center  md:px-16 z-10 sticky md:top-0 backdrop-blur-lg border-b-2 border-[#C4BCAB] dark:border-[#354656]">
    <nav class="flex flex-grow md:flex-none justify-center items-center space-x-9 md:space-x-20 md:mx-4">
        <a class="text-lg md:text-xl font-semibold text-black dark:text-white hover:text-[#FF7F50] dark:hover:text-[#AFFFFF] transition" href="#education">Educación</a>
        <a class="text-lg md:text-xl font-semibold text-black dark:text-white hover:text-[#FF7F50] dark:hover:text-[#AFFFFF] transition" href="#projects">Proyectos</a>
        <a class="text-lg md:text-xl font-semibold text-black dark:text-white hover:text-[#FF7F50] dark:hover:text-[#AFFFFF] transition" href="#skills">Skills</a>
        <a class="hidden md:block text-lg md:text-xl font-semibold text-black dark:text-white hover:text-[#FF7F50] dark:hover:text-[#AFFFFF] transition" href="#about">Sobre mi</a>
        <a class="text-lg md:text-xl font-semibold text-black dark:text-white hover:text-[#FF7F50] dark:hover:text-[#AFFFFF] transition" href="#contact">Contacto</a>
    </nav>
</header>