---
import SocialLinks from "./SocialLinks.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from './icons/Mail.astro'
---

<section id="home" class=" mb-20 xl:mb-0">
    <div class="flex flex-col-reverse gap-y-12 lg:gap-y-0 lg:flex-row lg:mt-20">

        <div class=" flex flex-col justify-center md:items-center lg:w-1/2">
            <div class="flex flex-col">
                <p class="lg:uppercase font-semibold">Web developer</p>
                <h1 class="font-bold text-4xl md:text-5xl xl:text-8xl mb-6">Daniel Agudelo</h1>
            </div>
            <div class="flex px-2 xl:mx-20">
                <p class="lg:ml-14 justify-center items-center">
                    Soy un desarrollador web Full Stack enfocado en el FrontEnd,
                    estoy aquí para dar vida a ideas y crear experiencias digitales
                    que dejen huella.
                </p>
            </div>
            <div class="flex gap-x-4 pt-6 items-center justify-center lg:hidden xl:flex xl:mt-20">
                <a class="hidden md:flex gap-2 px-4 py-2 rounded-md bg-[#FF7F50] text-[#8F1E00] hover:bg-[#DD6236] dark:bg-[#0D6E6E] dark:text-[#AFFFFF] dark:hover:bg-[#4A9D9C] hover:scale-110 transition-transform duration-300 md:text-xl shadow-md" href="#contact"><MailIcon class="size-7"/> Contáctame</a>
                <SocialLinks class="hidden md:flex" href="https://github.com/daniel-agudelo21" aria_label="GitHub de Daniel Agudelo"><GitHubIcon class="size-6"/> GitHub</SocialLinks>
                <SocialLinks class="hidden md:flex" href="https://www.linkedin.com/in/dan-agud/" aria_label="LinkedIn de Daniel Agudelo"><LinkedInIcon class="size-6"/> LinkedIn</SocialLinks>
                <SocialLinks class="hidden 2xl:flex" href="/assest/CV_Daniel_Agudelo.pdf"><LinkIcon class="size-7" /> Hoja de vida</SocialLinks>
    
                <a class=" md:hidden gap-2 px-4 py-2 rounded-md bg-[#FF7F50] text-[#8F1E00] hover:bg-[#DD6236] dark:bg-[#0D6E6E] dark:text-[#AFFFFF] dark:hover:bg-[#4A9D9C] hover:scale-110 transition-transform duration-300 md:text-xl shadow-md" href="#contact"><MailIcon class="size-7"/></a>
                <SocialLinks class="md:hidden" href="https://github.com/daniel-agudelo21" aria_label="GitHub de Daniel Agudelo"><GitHubIcon class="size-6"/></SocialLinks>
                <SocialLinks class="md:hidden" href="https://www.linkedin.com/in/dan-agud/" aria_label="LinkedIn de Daniel Agudelo"><LinkedInIcon class="size-6"/></SocialLinks>
                <SocialLinks class=" 2xl:hidden text-xl font-bold tracking-wider" href="/assest/CV_Daniel_Agudelo.pdf"> CV</SocialLinks>
            </div>
        </div>
        <div class="lg:w-1/2 flex flex-col justify-center items-center">
            <img
                class=" size-96 border-none xl:size-[672px] rounded-full"
                src="../../assest/logoCurvo.svg"
                alt="Perfil"
            />
            <span class="lg:mt-20"></span>
        </div>
    </div>
    <div class="hidden gap-x-4 pt-6 items-center justify-center lg:flex xl:hidden xl:mt-20">
        <a class="hidden md:flex gap-2 px-4 py-2 rounded-md bg-[#FF7F50] text-[#8F1E00] hover:bg-[#DD6236] dark:bg-[#0D6E6E] dark:text-[#AFFFFF] dark:hover:bg-[#4A9D9C] hover:scale-110 transition-transform duration-300 md:text-xl shadow-md" href="#contact"><MailIcon class="size-7"/> Contáctame</a>
        <SocialLinks class="hidden md:flex" href="https://github.com/daniel-agudelo21" aria_label="GitHub de Daniel Agudelo"><GitHubIcon class="size-6"/> GitHub</SocialLinks>
        <SocialLinks class="hidden md:flex" href="https://www.linkedin.com/in/dan-agud/"  aria_label="LinkedIn de Daniel Agudelo"><LinkedInIcon class="size-6"/> LinkedIn</SocialLinks>
        <SocialLinks class="hidden 2xl:flex" href="/assest/CV_Daniel_Agudelo.pdf"><LinkIcon class="size-7" /> Hoja de vida</SocialLinks>

        <a class="md:hidden gap-2 px-4 py-2 rounded-md bg-[#FF7F50] text-[#8F1E00] hover:bg-[#DD6236] dark:bg-[#0D6E6E] dark:text-[#AFFFFF] dark:hover:bg-[#4A9D9C] hover:scale-110 transition-transform duration-300 md:text-xl shadow-md" href="#contact"><MailIcon class="size-7"/></a>
        <SocialLinks class="md:hidden" href="https://github.com/daniel-agudelo21" aria_label="GitHub de Daniel Agudelo"><GitHubIcon class="size-6"/></SocialLinks>
        <SocialLinks class="md:hidden" href="https://www.linkedin.com/in/dan-agud/"  aria_label="LinkedIn de Daniel Agudelo"><LinkedInIcon class="size-6"/></SocialLinks>
        <SocialLinks class=" 2xl:hidden text-xl font-bold tracking-wider" href="/assest/CV_Daniel_Agudelo.pdf"> CV</SocialLinks>
    </div>
</section>
