---
import React from './technologiesIcons/ReactIcon.astro'
import Nextjs from './technologiesIcons/NextJSIcon.astro'
import Tailwind from './technologiesIcons/TailwindIcon.astro'
import Postgres from './technologiesIcons/PostgresIcon.astro'
import Express from './technologiesIcons/ExpressJSIcon.astro'
import Nodejs from './technologiesIcons/NodeJSIcon.astro'
import Redux from './technologiesIcons/ReduxIcon.astro'
import JavaScript from './technologiesIcons/JavaScriptIcon.astro'
import TypeScript from './technologiesIcons/TypeScriptIcon.astro'
import AstroIcon from './technologiesIcons/AstroIcon.astro'
const TECNOLOGIA = [
    {
        icon: React,
        text: "React",
    },
    {
        
        icon: Nodejs,
        text: "Nodejs",
    },
    {
        icon: Tailwind,
        text: "Tailwind",
    },
    {
        icon: Postgres,
        text: "PostgreSQL",
    },
    {
        
        icon: Nextjs,
        text: "NextJs",
    },
    {
        icon: Express,
        text: "Express",
    },
    {
        icon: Redux,
        text: "Redux",
    },
    {
        icon: JavaScript,
        text: "JavaScript",
    },
    {
        
        icon: AstroIcon,
        text: "Astro",
        learning:'Aprendiendo...'
    },
    {
        icon: TypeScript,
        text: "TypeScript",
        learning:'Aprendiendo...'
    },
];
---

<section class={`${Astro.props.class} flex flex-col mt-10  md:mt-0`} id="skills" data-section="skills">
    <h2 class="flex text-2xl lg:text-6xl justify-center xl:ju font-semibold mb-6 my-10">
        Destrezas o habilidades
    </h2>
    <div class="flex justify-center items-center">
        <div class="flex flex-wrap justify-center md:grid md:grid-cols-2 gap-x-10 md:gap-x-32 mt-20">
            {
                TECNOLOGIA.map((tecnologia) => (
                    <div class="hidden md:flex flex-row items-end gap-x-6  mb-20 hover:scale-110 transform hover:transition-transform transition-all">
                        <tecnologia.icon class="size-16 drop-shadow-[2px_2px_2px_rgba(0,0,0,0.5)]"/>
                        <div class="flex flex-col">
                            {
                                tecnologia.learning 
                                ? (
                                <h2 class="text-xl uppercase mb-2">
                                {tecnologia.text}
                                </h2>
                                <hr class="w-[200px] lg:w-[300px] border-[#C4BCAB] dark:border-[#354656]" />
                                <h3>{tecnologia.learning}</h3>
                                )
                                : <h2 class="text-xl uppercase mb-6 ">
                                {tecnologia.text}
                            </h2>
                            <hr class="w-[200px] lg:w-[300px] border-[#C4BCAB] dark:border-[#354656] " />
                            }
                        </div>
                    </div>
                    <div class="flex md:hidden items-baseline justify-center gap-x-4 mb-10">
                        <tecnologia.icon class="size-16  hover:scale-110 transform hover:transition-transform transition-all drop-shadow-[2px_2px_2px_rgba(0,0,0,0.5)]"/>
                           

                    </div>
                ))
            }
        </div>
    </div>

</section>
