<a
    class=`${Astro.props.class} flex gap-2 px-4 py-2 rounded-md bg-[#FF7F50] text-[#8F1E00] hover:bg-[#DD6236] dark:bg-[#0D6E6E] dark:text-[#AFFFFF] dark:hover:bg-[#4A9D9C] hover:scale-110 transition-transform duration-300 md:text-xl shadow-md`
    href={Astro.props.href}
    aria-label={Astro.props.aria_label}
    target="_blank"
    rel="noopener noreferrer"
    
>
    <slot />
</a>
